<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Farm Services</h2>
                    <h3 class="section-subheading text-muted">We provide the following services</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Vegetable Boxes</h4>
                    <p class="text-muted">Fresh vegetables delivered to your doorstep!</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Workshops</h4>
                    <p class="text-muted">Vegetable growing workshops with our team of botanist-farmers!</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Farmers Market</h4>
                    <p class="text-muted">
                        We have a stall every month in the Huntly famers market!
                        <li>Post:
                            <strong><a href="#blogPost5" class="portfolio-link" data-toggle="modal">Post!</a>
                            </strong>
                        </li>
                    </p>
                </div>
            </div>
        </div>
    </section>
